{% comment %}<!--

@param css String

-->{% endcomment %}

<footer class="{{ include.css }}">
  <span class="typography-footer">Музыкальная Школа Артиссимо</span>



  <div class="footer-icons-social">
    <a href="{{ site.social.itunes.url }}" class="mod-face-promo-icon-buy" target="_blank" rel="noopener">
      <img src="{{ 'icons/social/footer_facebook.png' | makeUrl }}" class="footer-icon-social">
    </a>

    <a href="{{ track.shops.itunes.url }}" class="mod-face-promo-icon-buy" target="_blank" rel="noopener">
      <img src="{{ 'icons/social/footer_instagram.png' | makeUrl }}" class="footer-icon-social">
    </a>
  </div>



  <span class="typography-footer">© 2019</span>
</footer>
