{% comment %}<!--

@param css String

-->{% endcomment %}

<footer class="{{ include.css }}">
  <span class="typography-footer">Idelia Mars</span>

  <div class="footer-icons">
    <img src="{{ 'icons/footer_spotify.png' | makeUrl }}" class="footer-icon-buy">

    <div class="footer-icons-social">
      <img src="{{ 'icons/footer_facebook.png' | makeUrl }}" class="footer-icon-social">
      <img src="{{ 'icons/footer_twitter.png' | makeUrl }}" class="footer-icon-social">
      <img src="{{ 'icons/footer_instagram.png' | makeUrl }}" class="footer-icon-social">
    </div>

    <img src="{{ 'icons/footer_itunes.png' | makeUrl }}" class="footer-icon-buy">
  </div>

  <span class="typography-footer">© 2019</span>
</footer>
