


<div class="mod-contact" id="{{ site.data.anchors.CONTACT.id }}">
  <h2 class="typography-mod-contact-title mod-contact-title">find<br>Me</h2>

  <div class="mod-contact-bg">
    <img src="{{ 'icons/set_social_icons_contact.png' | makeUrl }}" class="mod-contact-social-icons">
  </div>

  <div class="mod-contact-shops">
    <div class="mod-contact-icon-buy">
      <img src="{{ 'icons/footer_spotify.png' | makeUrl }}">
    </div>

    <div class="mod-contact-icon-buy">
      <img src="{{ 'icons/footer_itunes.png' | makeUrl }}" class="mod-contact-icon-buy">
    </div>
  </div>
</div>
