{% comment %}<!--

@param css String
@param

-->{% endcomment %}


<div class="mod-contact" id="{{ site.data.anchors.CONTACT.anchorHtml }}">
  <h2 class="typography-mod-title mod-contact-title">Контакты</h2>

  <div class="mod-contact-address">
    {{ site.contacts.address }}
  </div>

  <div class="mod-contact-map">
    <script type="text/javascript"
            charset="utf-8"
            async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3f1d372923498654f9c903589ffe8f0e03166069f357f122f0917b5aeee69232&amp;width=100%25&amp;height=700&amp;lang=ru_RU&amp;scroll=false"></script>
  </div>
</div>
