{% include mod/music/track/c.css %}


.mod-music {
  background: #202129;
  padding: var(--indent-xl) var(--indent-xs) 0 var(--indent-xs);
}


.mod-music-content {
  max-width: var(--max-width-limit);
  background-color: #282932;
  padding: var(--indent-l) var(--indent-l) calc(var(--indent-xxxl) * 1.3);
  margin-left: auto;
  margin-right: auto;
}


.mod-music-title {
  margin-bottom: var(--indent-xl);
  text-align: center;
}

.mod-music-subtitle {
  text-align: center;
}

.mod-music-tracks {
  margin-top: var(--indent-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
}




/* sm */
@media (min-width: 576px) {
  .mod-music {
    padding-left: var(--indent-l);
    padding-right: var(--indent-l);
  }

  .mod-music-content {
    box-shadow: 9px 12px 90px #000000;
  }
}



/* md */
@media (min-width: 768px) {}



/* lg */
@media (min-width: 992px) {
  .mod-music {
    padding-left: var(--indent-xl);
    padding-right: var(--indent-xl);
  }

  .mod-music-tracks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .mod-music-title, .mod-music-subtitle {
    margin-left: calc(50% - 60px);
    text-align: left;
  }
}



/* xl */
@media (min-width: 1200px) {}
