{% include header/item/c.css %}

.header {
  height: var(--el-header-h);
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 20px 20px #fff;
}

.header-wrap {
  max-width: var(--max-width-limit);
  margin-left: auto;
  margin-right: auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-right {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-menu-mob {
  width: 60px;
  height: 60px;
}

.header-logo {
  padding-left: var(--indent-l);
  padding-right: var(--indent-l);
  background-image: url("../imgs/logos/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100px;
  margin-left: var(--indent-m);}

.header-nav {
  display: none;
}


.header-sign-up {
  display: none;
}


.header-phone {
  text-decoration: none;
  margin-left: var(--indent-m);
  margin-right: var(--indent-m);
  font-size: 14px;
}

.header-phone:hover {
  text-decoration: underline;
}



/* sm */
@media (min-width: 576px) {
  .header-menu-mob {
    display: none;
  }

  .header-phone {
    font-size: 20px;
  }
}


/* md */
@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }

  .header-sign-up {
    display: block;
    font-family: var(--font-family-handwrite);
    font-weight: bold;
    font-size: 30px;
    padding-left: var(--indent-l);
    padding-right: var(--indent-l);
  }
}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}



