{% comment %}<!--

@param css {String}

-->{% endcomment %}

<header class="header">
  <div class="header-wrap">

    <button class="header-menu-mob">
      <img src="{{ 'icons/menu.svg' | makeUrl }}">
    </button>

    <div class="header-logo"></div>


    <div class="header-right">
      <nav class="header-nav">
<!--        {% include header/item/h.html it=site.data.anchors.MAIN %}-->
<!--        {% include header/item/h.html it=site.data.anchors.TEACHERS %}-->
        {% include header/item/h.html it=site.data.anchors.CONTACT %}
      </nav>

      <div class="header-sign-up">
        Записаться
      </div>
    </div>

  </div>
</header>
