{% comment %}<!--

@param css {String}

-->{% endcomment %}

<header class="header">
  <div class="header-wrap">

    <button class="header-menu-mob">
      <img src="{{ 'icons/menu.svg' | makeUrl }}">
    </button>

    <a class="header-logo" href="/" style="background-image: url(imgs/logos/logo.png);"></a>


    <div class="header-right">
      <div class="header-sign-up">
        Записаться
      </div>

      <nav class="header-nav">
<!--        {% include header/item/h.html it=site.data.anchors.MAIN %}-->
<!--        {% include header/item/h.html it=site.data.anchors.TEACHERS %}-->
        {% include header/item/h.html it=site.data.anchors.CONTACT %}
      </nav>

      <a class="header-phone" href="tel:{{ site.contacts.phone }}">{{ site.contacts.phone }}</a>
    </div>

  </div>
</header>
