{% comment %}<!--

@param css String
@param

-->{% endcomment %}


<div class="order-form">
  <h2 class="order-form-title typography-mod-title-long-text">Записаться на пробный урок</h2>

  <form class="order-form-form" action="https://formforsite.com/send/Y29udDAxc2hvcGluZ0BtYWlsLnJ1" method="post">
    <input name="_back-url" type="hidden" value="http://127.0.0.1:4000/">

    <label class="order-form-label">
      <input name="name" class="order-form-input">
      <span class="order-form-text">Как Вас зовут ?</span>
    </label>


    <label class="order-form-label">
      <input name="contact" class="order-form-input">
      <span class="order-form-text">Ваш email или телефон для связи</span>
    </label>

    <label class="order-form-label">
      <textarea name="contact" class="order-form-input order-form-input-text"></textarea>
      <span class="order-form-text">Сообщение для школы</span>
    </label>

    <div class="order-form-send-wrap">
      <button class="order-form-send">
        Отправить
      </button>
    </div>


  </form>
</div>


