{% comment %}<!--

@param css String
@param

-->{% endcomment %}


<div class="order-form">
  <h2 class="order-form-title typography-mod-title-long-text">Записаться на пробный урок</h2>


  <div class="order-form-schedule">
    <h3 class="order-form-schedule-title">Ближайшие занятия</h3>
    <div class="date">
      23 Апреля 2019г
    </div>
    <div class="date">
      14 Мая 2019г
    </div>
  </div>


  <form class="order-form-form">
    <label class="order-form-label">
      <input name="name" class="order-form-input">
      <span class="order-form-text">Как Вас зовут ?</span>
    </label>


    <label class="order-form-label">
      <input name="contact" class="order-form-input">
      <span class="order-form-text">Ваш email или телефон для связи</span>
    </label>

    <label class="order-form-label">
      <textarea name="contact" class="order-form-input order-form-input-text"></textarea>
      <span class="order-form-text">Сообщение для школы</span>
    </label>

    <div class="order-form-send-wrap">
      <button class="order-form-send">
        Отправить
      </button>
    </div>


  </form>
</div>


